openapi: 3.0.0
info:
  title: TIcketSource Zapier OpenAPI
  version: '1.0'
  contact:
    name: TicketSource
    url: 'https://www.ticketsource.co.uk/help'
    email: support@ticketsource.co.uk
  description: The TicketSource Zapier integration OpenAPI specification
servers:
  - url: 'https://www.ticketsource.co.uk/services/zapier'
    description: Zapier Service
paths:
  /customers:
    post:
      summary: ''
      operationId: customers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer'
              examples: {}
      parameters:
        - schema:
            type: integer
          in: header
          name: Page
          description: The page of results requested
          required: true
        - schema:
            type: string
          in: header
          name: Service-Endpoint
          description: Must be `Customers`
          required: true
      description: Retrieve a paginated list of Customers
  /events:
    post:
      summary: ''
      operationId: events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
      description: Retrieve a paginated list of Events
      parameters:
        - schema:
            type: integer
          in: header
          name: Page
          required: true
          description: The page of results requested
        - schema:
            type: string
          in: header
          name: Service-Endpoint
          required: true
          description: Must be `Events`
  /bookings:
    post:
      summary: ''
      operationId: bookings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Booking'
      description: Retrieve a paginated list of Bookings
      parameters:
        - schema:
            type: integer
          in: header
          name: Page
          required: true
          description: The page of results requested
        - schema:
            type: string
          in: header
          name: Service-Endpoint
          required: true
          description: Must be `Bookings`
  /find-customer:
    post:
      summary: ''
      operationId: find-customers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer'
      description: Search for customer records matching input parameters
      parameters:
        - schema:
            type: string
          in: header
          name: Service-Endpoint
          required: true
          description: Must be `Find-Customer`
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                customerName:
                  type: string
                customerPostcode:
                  type: string
                customerEmailAddress:
                  type: string
                  format: email
                customerPhoneNumber:
                  type: string
            examples: {}
  /find-event:
    post:
      summary: ''
      operationId: find-events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
      description: Search for events matching input parameters
      parameters:
        - schema:
            type: string
          in: header
          name: Service-Endpoint
          description: Must be `Find-Event`
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                event_name:
                  type: string
                venue_name:
                  type: string
                event_dateTime:
                  type: string
                  format: date-time
  /new-customer:
    post:
      summary: ''
      operationId: new-customer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - Customer added successfully
                  customer:
                    type: object
                    properties:
                      customer_id:
                        type: string
                      created_at:
                        type: string
                        format: date-time
      description: Add a new Customer
      parameters:
        - schema:
            type: string
            enum:
              - New-Customer
          in: header
          name: Service-Endpoint
          required: true
          description: ''
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                contactSurname:
                  type: string
                contactFirstName:
                  type: string
                contactTitle:
                  type: string
                contactAdd1:
                  type: string
                contactAdd2:
                  type: string
                contactAdd3:
                  type: string
                contactAdd4:
                  type: string
                contactTellNo:
                  type: string
                contactPostcode:
                  type: string
                contactEmail:
                  type: string
                contactMembershipNo:
                  type: string
                contactMembershipNoStartDate:
                  type: string
                contactMembershipNoEndDate:
                  type: string
                promoterConsentEmail:
                  type: string
                promoterConsentPost:
                  type: string
                promoterConsentSMS:
                  type: string
                patronNoteDesc:
                  type: string
components:
  schemas:
    Customer:
      title: Customer
      type: object
      description: A TicketSource Customer
      properties:
        id:
          type: string
        customer_id:
          type: string
        title:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        address:
          type: object
          properties:
            line_1:
              type: string
            line_2:
              type: string
            line_3:
              type: string
            line_4:
              type: string
            postcode:
              type: string
        telephone:
          type: string
        email:
          type: string
        membership:
          type: object
          properties:
            identifier:
              type: string
            start_date:
              type: string
            end_date:
              type: string
        consent:
          type: object
          properties:
            email:
              type: boolean
            post:
              type: boolean
            sms:
              type: boolean
        customer_created_at:
          type: string
        customer_updated_at:
          type: string
      x-examples: {}
    Event:
      title: Event
      type: object
      properties:
        id:
          type: string
        event_id:
          type: string
        name:
          type: string
        reference:
          type: string
        description:
          type: string
        category:
          type: string
        genre:
          type: string
        images:
          type: object
          properties:
            banner:
              type: string
            thumbnail:
              type: string
        third_party_consent:
          type: object
          properties:
            capture:
              type: boolean
            name:
              type: string
            show_consent:
              type: object
              properties:
                email:
                  type: boolean
                post:
                  type: boolean
                sms:
                  type: boolean
        activated:
          type: boolean
        event_public:
          type: boolean
        event_created_at:
          type: string
        event_updated_at:
          type: string
        event_link:
          type: string
        venue_id:
          type: string
        venue_name:
          type: string
        address:
          type: object
          properties:
            line_1:
              type: string
            line_2:
              type: string
            line_3:
              type: string
            line_4:
              type: string
            postcode:
              type: string
        boxoffice:
          type: object
          properties:
            telephone:
              type: string
            '':
              type: string
        venue_created_at:
          type: string
        venue_updated_at:
          type: string
        performance_id:
          type: string
        start:
          type: string
        doors_open:
          type: string
        end:
          type: string
        cancelled:
          type: boolean
        performance_created_at:
          type: string
        performance_updated_at:
          type: string
        performance_link:
          type: string
        direct_booking_link:
          type: string
      description: A TicketSource Event
    Booking:
      title: Booking
      type: object
      description: A TicketSource Booking
      properties:
        id:
          type: string
        transaction_id:
          type: string
        lines:
          type: array
          items:
            type: object
            properties:
              line_type:
                type: string
              payment_method:
                type: string
              is_refund:
                type: boolean
              amount:
                type: object
                properties:
                  gross:
                    type: number
                  fee:
                    type: number
                  fee_vat:
                    type: number
                  discounts:
                    type: object
                    properties:
                      automatic:
                        type: number
                      code:
                        type: object
                        properties:
                          description:
                            type: string
                          amount:
                            type: number
                  net:
                    type: number
              created_at:
                type: string
              updated_at:
                type: string
        reference:
          type: string
        booking_created_at:
          type: string
        booking_updated_at:
          type: string
        related_performance_id:
          type: string
        customer_id:
          type: string
        user_booked_by:
          type: string
        consent:
          type: object
          properties:
            third_party:
              type: string
            email:
              type: boolean
            post:
              type: boolean
        seats:
          type: array
          items:
            type: object
            properties:
              seat_id:
                type: string
              is_booked:
                type: boolean
              is_cancelled:
                type: boolean
              reference:
                type: object
                properties:
                  row:
                    type: string
                  seat:
                    type: string
              attendee:
                type: object
                properties:
                  title:
                    type: string
                  first_name:
                    type: string
                  last_name:
                    type: string
                  company:
                    type: object
                    properties:
                      name:
                        type: string
                      title:
                        type: string
                  telephone:
                    type: string
                  email:
                    type: string
              created_at:
                type: string
              updated_at:
                type: string
  securitySchemes:
    Auth Token:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: ''
          tokenUrl: ''
          refreshUrl: ''
          scopes: {}
security:
  - Auth Token: []
tags:
  - name: customers
